<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p #paragraphElement>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <br>
    <ion-button (click)="monriPluginNewPayment($event)">New Payment</ion-button>
    <ion-button (click)="monriPluginSavedCardPayment($event)">Pay with saved card</ion-button>
    <ion-button (click)="monriPluginSavedCard3DSPayment($event)">Pay with saved card 3DS</ion-button>
  </div>
</ion-content>
